In [18]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import json
import pprint
import gmaps

# Import API key
from config import gkey 

gmaps.configure(api_key=gkey)

In [19]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy/output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,lebrija,36.9208,-6.0753,14.33,100,20,1.03,ES,1667882404
1,1,tiznit,29.5833,-9.5000,20.06,22,98,1.81,MA,1667882464
2,2,mount gambier,-37.8333,140.7667,26.05,43,0,0.44,AU,1667882466
3,3,tuktoyaktuk,69.4541,-133.0374,-18.00,85,0,4.12,CA,1667882466
4,4,uryupinsk,50.8047,42.0138,2.01,81,75,2.29,RU,1667882466

In [20]:
# Finding null data
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556 entries, 0 to 555
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     556 non-null    int64
 1   City        556 non-null    object
 2   Lat         556 non-null    float64
 3   Lng         556 non-null    float64
 4   Max Temp    556 non-null    float64
 5   Humidity    556 non-null    int64
 6   Cloudiness  556 non-null    int64
 7   Wind Speed  556 non-null    float64
 8   Country     549 non-null    object
 9   Date        556 non-null    int64
dtypes: float64(4), int64(4), object(2)
memory usage: 43.6+ KB

In [21]:
# Store latitude and longitude in locations
locations = city_data_df[["Lat", "Lng"]]

#df['points'] = df['points'].astype(float)

# Fill NaN values and convert to float
city_data_df["Humidity"] = city_data_df['Humidity'].astype(float)

In [22]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556 entries, 0 to 555
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     556 non-null    int64
 1   City        556 non-null    object
 2   Lat         556 non-null    float64
 3   Lng         556 non-null    float64
 4   Max Temp    556 non-null    float64
 5   Humidity    556 non-null    float64
 6   Cloudiness  556 non-null    int64
 7   Wind Speed  556 non-null    float64
 8   Country     549 non-null    object
 9   Date        556 non-null    int64
dtypes: float64(5), int64(3), object(2)
memory usage: 43.6+ KB

In [23]:
humid = city_data_df['Humidity']
humid

0      100.0
1       22.0
2       43.0
3       85.0
4       81.0
       ...
551     81.0
552     75.0
553     83.0
554     75.0
555     78.0
Name: Humidity, Length: 556, dtype: float64

In [24]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid,dissipating=False, max_intensity=max(city_data_df["Humidity"]),point_radius = 2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Narrow down cities that fit criteria and drop any results with null values
ideal_weather = city_data_df.loc[(city_data_df["Max Temp"]>=21)&(city_data_df["Max Temp"]<=27)&(city_data_df["Cloudiness"]<=0)&(city_data_df["Wind Speed"]<=4.5),:]

# Drop any rows with null values
ideal_weather = ideal_weather.dropna()

# Display sample data
ideal_weather

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,mount gambier,-37.8333,140.7667,26.05,43.0,0,0.44,AU,1667882466
87,87,kushikino,31.7167,130.2667,22.70,35.0,0,4.49,JP,1667882511
160,160,acapulco,16.8634,-99.8901,26.90,89.0,0,2.57,MX,1667882531
177,177,praya,14.9215,-23.5087,24.30,69.0,0,1.54,CV,1667882553
189,189,saint-pierre,-21.3393,55.4781,25.82,61.0,0,2.57,RE,1667882560
217,217,kassala,15.4510,36.4000,26.70,58.0,0,2.29,SD,1667882572
311,311,russell,32.3502,-85.1999,22.78,100.0,0,0.00,US,1667882613
314,314,ascension,30.2169,-90.9001,22.82,95.0,0,0.00,US,1667882614
331,331,neuquen,-38.9516,-68.0591,23.94,23.0,0,3.60,AR,1667882622
480,480,cabo san lucas,22.8909,-109.9124,23.06,73.0,0,1.79,MX,1667882452
486,486,salalah,17.0151,54.0924,25.05,65.0,0,1.03,OM,1667882695
519,519,praia,14.9215,-23.5087,24.30,69.0,0,1.54,CV,1667882553
528,528,alabaster,33.2443,-86.8164,21.05,94.0,0,0.00,US,1667882712
541,541,ewa beach,21.3156,-158.0072,26.97,71.0,0,4.12,US,1667882720
542,542,karachi,24.9056,67.0822,22.90,68.0,0,3.60,PK,1667882641

In [26]:
#df2 = df[['Courses', 'Fee']].copy()

# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = ideal_weather[["City","Country","Lat","Lng","Humidity"]].copy()


# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
hotel_df['Hotel Name'] = ""


# Display sample data
hotel_df

               City Country      Lat       Lng  Humidity Hotel Name
2     mount gambier      AU -37.8333  140.7667      43.0
87        kushikino      JP  31.7167  130.2667      35.0
160        acapulco      MX  16.8634  -99.8901      89.0
177           praya      CV  14.9215  -23.5087      69.0
189    saint-pierre      RE -21.3393   55.4781      61.0
217         kassala      SD  15.4510   36.4000      58.0
311         russell      US  32.3502  -85.1999     100.0
314       ascension      US  30.2169  -90.9001      95.0
331         neuquen      AR -38.9516  -68.0591      23.0
480  cabo san lucas      MX  22.8909 -109.9124      73.0
486         salalah      OM  17.0151   54.0924      65.0
519           praia      CV  14.9215  -23.5087      69.0
528       alabaster      US  33.2443  -86.8164      94.0
541       ewa beach      US  21.3156 -158.0072      71.0
542         karachi      PK  24.9056   67.0822      68.0

In [27]:
# Set params:
params = {
    "radius": 10000,
    "types": "hotel",
    "keyword": "hotels",
    "key": gkey
}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Loop through to identify hotels:
for index, row in hotel_df.iterrows():
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params['location'] = f'{lat},{lng}'
    
    hotel_data = requests.get(base_url, params=params).json()
    
    try:
        
        hotel_df.loc[index, "Hotel Name"] = hotel_data['results'][0]['name']
        
    except: 
        print('Issues with finding a hotel at', row['City'])
        hotel_df.loc[index, "Hotel Name"] = "NA"
    
hotel_df

Starting hotel search
Issues with finding a hotel at russell

,City,Country,Lat,Lng,Humidity,Hotel Name
2,mount gambier,AU,-37.8333,140.7667,43.0,The Commodore
87,kushikino,JP,31.7167,130.2667,35.0,吹上浜フィールドホテル
160,acapulco,MX,16.8634,-99.8901,89.0,Hotel Princess Mundo Imperial
177,praya,CV,14.9215,-23.5087,69.0,Hotel Oasis Atlantico Praiamar
189,saint-pierre,RE,-21.3393,55.4781,61.0,Palm Hotel & Spa
217,kassala,SD,15.4510,36.4000,58.0,Hipton Hotel
311,russell,US,32.3502,-85.1999,100.0,NA
314,ascension,US,30.2169,-90.9001,95.0,Home2 Suites by Hilton Gonzales
331,neuquen,AR,-38.9516,-68.0591,23.0,Casino Magic Hotel & Casino
480,cabo san lucas,MX,22.8909,-109.9124,73.0,"The Cape, A Thompson Hotel"
486,salalah,OM,17.0151,54.0924,65.0,Al Baleed Resort Salalah by Anantara
519,praia,CV,14.9215,-23.5087,69.0,Hotel Oasis Atlantico Praiamar
528,alabaster,US,33.2443,-86.8164,94.0,"Holiday Inn Express & Suites Alabaster, an IHG..."
541,ewa beach,US,21.3156,-158.0072,71.0,Hampton Inn & Suites Oahu/Kapolei
542,karachi,PK,24.9056,67.0822,68.0,Mövenpick Karachi

In [28]:
info_box = """



Name: {Hotel Name}
City: {City}
Country: {Country}



"""



hotel_information = [info_box.format(**row) for index, row in hotel_df.iterrows()]
hotel_location = hotel_df[["Lat", "Lng"]]

In [29]:
hotel_plotting = gmaps.marker_layer(hotel_location,info_box_content= hotel_information)



fig = gmaps.figure()
fig.add_layer(hotel_plotting)



fig

Figure(layout=FigureLayout(height='420px'))